data/meshtest.fbx

data/moddleold.fbx
css/Ears_n_tails.png
.gitignore
data/Kimono_Color.png
.gitignore
data/GodYurei_Accs_2.png
.gitignore
data/Ears_n_tails.png
data/GodYurei_Face.png
data/GodYurei_HAIR.png
data/GodYurei_Outfit_Color.png
data/GodYurei_Accs_Color.png
.gitignore
data/GodYurei_Skin_DEFAULT_TH.png
